[Unit]
Description=i8kmon

[Service]
ExecStartPre=/opt/dell-bios-fan-control 0
ExecStopPost=/opt/dell-bios-fan-control 1
ExecStart=/usr/bin/i8kmon
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
